@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

.row {
  display:flex;
  justify-content:center;
  align-items:center;
}

.blox {
  transition: width .5s ease, background-color .2s ease;
  transition-delay: .4s;
  display:flex;
  justify-content:center;
  align-items:center;
  padding-left:10px;
  font-family:'Amatic SC', cursive;
}
